-- ===========
-- FAULTS.SLIM
-- ===========
-- ------
-- SYNTAX
-- ------
-- system implementation <SLIM FUNCTION NAME>.others
-- properties
--   FaultInjections => (
--     [
--       Description => "<DESCRIPTION>";
--       Fault_Model => <FAULT MODEL>;
--       Fault_Dynamics => <(PERMANENT|TRANSIENT)>;
--       Probability => <PROBABILITY>;
--       Input => <RI/PI PARAMETER NAME>;
--       Varout => <RI/PI PARAMETER NAME>;
--       ParameterList => ([Name=>Term; Value=>"<VALUE>"]);
--     ],
--     ...
--   );
-- end <SLIM FUNCTION NAME>.others;
-- -------
-- EXAMPLE
-- -------
-- system implementation Generator.others
-- properties
--   FaultInjections => (
--     [
--       Description => "Dead";
--       Fault_Model => StuckAt;
--       Fault_Dynamics => Permanent;
--       Probability => 1.e-7;
--       Input => voltage_out.voltage;
--       Varout => voltage_out.voltage;
--       ParameterList => ([Name=>Term; Value=>"0"]);
--     ]
--   );
-- end Generator.others;
-- ----------------------
-- DUMP OF INTERFACE VIEW
-- ----------------------
-- Function (C): DataCompressor
---- PI (Protected): ClearBuffer

---- PI (Protected): ReadData
------ PARAM_OUT (CompressorDataBuffer): ReadData.dataOut
------ PARAM_IN (T-UInt32): ReadData.byteOffset
------ PARAM_IN (T-UInt32): ReadData.bytesToRead
------ PARAM_OUT (T-UInt32): ReadData.bytesWritten

---- PI (Protected): StartCompression

---- PI (Protected): Status
------ PARAM_OUT (CompressorState): Status.currentStatus
------ PARAM_OUT (T-UInt32): Status.compressedDataLength

---- PI (Protected): WriteBuffer
------ PARAM_IN (CompressorDataBuffer): WriteBuffer.dataBuffer
------ PARAM_IN (T-UInt32): WriteBuffer.dataLength



-- Function (C): DataUncompressor
---- PI (Protected): ClearBuffer

---- PI (Protected): ReadData
------ PARAM_OUT (CompressorDataBuffer): ReadData.dataOut
------ PARAM_IN (T-UInt32): ReadData.byteOffset
------ PARAM_IN (T-UInt32): ReadData.bytesToRead
------ PARAM_OUT (T-UInt32): ReadData.bytesWritten

---- PI (Protected): StartUncompression

---- PI (Protected): Status
------ PARAM_OUT (CompressorState): Status.currentStatus
------ PARAM_OUT (T-UInt32): Status.decompressedDataLength

---- PI (Protected): WriteBuffer
------ PARAM_IN (CompressorDataBuffer): WriteBuffer.dataBuffer
------ PARAM_IN (T-UInt32): WriteBuffer.dataLength



-- Function (C): TestCompressUncompress

---- PI (Sporadic): samrh71rx
------ PARAM_IN (T-UInt8): samrh71rx.iByteIn


---- RI (Protected): Comp_ClearBuffer

---- RI (Protected): Comp_ReadData
------ PARAM_OUT (CompressorDataBuffer): Comp_ReadData.dataOut
------ PARAM_IN (T-UInt32): Comp_ReadData.byteOffset
------ PARAM_IN (T-UInt32): Comp_ReadData.bytesToRead
------ PARAM_OUT (T-UInt32): Comp_ReadData.bytesWritten

---- RI (Protected): Comp_StartCompression

---- RI (Protected): Comp_Status
------ PARAM_OUT (CompressorState): Comp_Status.currentStatus
------ PARAM_OUT (T-UInt32): Comp_Status.compressedDataLength

---- RI (Protected): Comp_WriteBuffer
------ PARAM_IN (CompressorDataBuffer): Comp_WriteBuffer.dataBuffer
------ PARAM_IN (T-UInt32): Comp_WriteBuffer.dataLength

---- RI (Protected): Uncomp_ClearBuffer

---- RI (Protected): Uncomp_ReadData
------ PARAM_OUT (CompressorDataBuffer): Uncomp_ReadData.dataOut
------ PARAM_IN (T-UInt32): Uncomp_ReadData.byteOffset
------ PARAM_IN (T-UInt32): Uncomp_ReadData.bytesToRead
------ PARAM_OUT (T-UInt32): Uncomp_ReadData.bytesWritten

---- RI (Protected): Uncomp_StartUncompression

---- RI (Protected): Uncomp_Status
------ PARAM_OUT (CompressorState): Uncomp_Status.currentStatus
------ PARAM_OUT (T-UInt32): Uncomp_Status.decompressedDataLength

---- RI (Protected): Uncomp_WriteBuffer
------ PARAM_IN (CompressorDataBuffer): Uncomp_WriteBuffer.dataBuffer
------ PARAM_IN (T-UInt32): Uncomp_WriteBuffer.dataLength

---- RI (Sporadic): samrh71tx
------ PARAM_IN (T-UInt8): samrh71tx.iByteOut


---- PI (Sporadic): samrh71tx
------ PARAM_IN (T-UInt8): samrh71tx.iByteOut


---- RI (Sporadic): samrh71rx
------ PARAM_IN (T-UInt8): samrh71rx.iByteIn



--
